@import-normalize; /* bring in normalize.css styles */

body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	font-family: inherit;
	color: currentColor;
	text-decoration: none;
}

button {
	display: block;
	padding: 0;

	font-family: inherit;
	cursor: pointer;
	border: none;
	outline: none;
}

textarea {
	resize: none;
}
